/* Import custom fonts */
@font-face {
    font-family: "Freight Text";
    src: url("../fonts/freight_text_pro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Warsaw Gothic";
    src: url("../fonts/WarsawGothic.otf") format("opentype");
}

/* General styling */
body {
    background-color: #eae6db;
    margin: 0 auto;
    padding: 0 100px;
    cursor: url("../img/hand-point.png"), auto;
}

header {
    text-align: center;
    margin: auto;
}

h1 {
    margin: 0;
    margin-top: 30px;
}

h2 {
    font-family: "Warsaw Gothic", serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: justify;
    font-size: 2em;
    letter-spacing: 2px;
}

p {
    font-family: "Freight Text", serif;
}

a {
    text-decoration: none;
}

/* Navigation */
nav {
    border-bottom: 1px dotted #000000;
    border-top: 1px dotted #000000;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #000000;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Libre Bodoni", serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    margin: 10px;
}


/* Article grid layout */
.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

article {
    padding: 20px;
}

article img {
    filter: grayscale(100%);
}


/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d1c091;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

/* Text selection */
::selection {
    background-color: #d1c091;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .articles-container {
        grid-template-columns: 1fr;
    }
}